<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='_css/index.css') }}" />
    <title>Brazil - Mammogram Coverage</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi bi-graph-up"></i> <span class="ms-1 d-none d-sm-inline">Graphs</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/brstmaps" class="nav-link px-0"> <i class="fs-4 bi bi-map"></i><span class="d-none d-sm-inline"> Brazil by State</span></a>
                                </li>
                                <li class="w-100">
                                    <a href="/" class="nav-link px-0"> <i class="fs-4 bi bi-map"></i><span class="d-none d-sm-inline"> Brazil by Municipality</span></a>
                                </li>
                                <li>
                                <li class="w-100">
                                    <a href="/stmaps" class="nav-link px-0"> <i class="fs-4 bi bi-map"></i><span class="d-none d-sm-inline"> Selected State</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <i class="fs-4 bi bi-bar-chart"></i><span class="d-none d-sm-inline"> Bar charts</span></a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi bi-cloud-download"></i></i> <span class="ms-1 d-none d-sm-inline">Downloads</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <i class="fs-4 bi bi-table"></i><span class="d-none d-sm-inline"> By state</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <i class="fs-4 bi bi-table"></i><span class="d-none d-sm-inline"> By municipality</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../static/_media/tiezzi_d.jpg" alt="tiezziDg" width="37" height="35" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">Tiezzi D</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">Webpage</a></li>
                            <li><a class="dropdown-item" href="#">Github</a></li>
                            <li><a class="dropdown-item" href="#">Publications</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <img class="img-fluid mx-auto" src="../static/_media/mammographyApp.png" alt="" style="max-width: 50%; display: block;margin:0 auto;">
               
                <figure class="img-fluid" style="margin-top: 30px; display: flex; justify-content: space-evenly; flex-wrap: wrap;">
                    {{ figure[0]|safe }}
                    {{ figure[1]|safe }}
                </figure>
            </div>
    </div>
    
    
    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<footer class="footer bg-dark fixed-bottom">
    <div class="container" style="text-align: center;">
    <a href="#">
        <span class="text-muted">Departamento de Ginecologia e Obstetrícia - FMRPUSP</span>
    </a>
    </div>
  </footer>
</html>